:host {
--vaadin-form-item-label-width: 4em;
--vaadin-form-item-label-spacing: 0em;
--vaadin-form-item-row-spacing: 0em;
}
:host(.labelleft) {
	flex-direction: row;
	height:35px !important;
    margin-top:0px !important;
     
 }
 :host(.labeltop) {
	flex-direction: column;
	height:50px !important;
    margin-top:0 !important;
 }
:host(.filabelright) {
	height:35px !important;
    margin-top:0 !important;
    text-align: right; 
 }
 :host(.alignRight) {
     text-align-last: right; 
 }
 :host(.labelright) {
	text-align: right; 
	margin-right: 10px;
	}

:host(.lineHeight2) {
	height:70px;
}
:host(.lineHeight3) {
	height:105px;
}
:host(.lineHeight4) {
	height:140px;
}
:host(.labelXS) {
	--vaadin-form-item-label-width: 3em;
}
:host(.labelS) {
	--vaadin-form-item-label-width: 5em;
}
:host(.labelM) {
	--vaadin-form-item-label-width: 7em;
}
:host(.labelL) {
	--vaadin-form-item-label-width: 9em;
}
:host(.labelXL) {
	--vaadin-form-item-label-width: 12em;
}
:host(.labelXXL) {
	--vaadin-form-item-label-width: 15em;
}
:host(.labelXXXL) {
	--vaadin-form-item-label-width: 20em;
}
:host(.labelXXXXL) {
	--vaadin-form-item-label-width: 25em;
}
:host(.nolabelInAGroup) {
	top: 2px !important;
	position: relative;
}
:host(.nolabel) {
	top: 15px !important;
	position: relative;
}
:host(.nolabelPreview) {
	top: 2px !important;
	position: relative;
}
:host(.titleInForm) {
	--vaadin-form-item-label-width: 65em;
	text-align: center;
	--lumo-font-size-s: 19px;
	background: green;
	--lumo-secondary-text-color: white;
}	
:host(.colorGreen) {	
--lumo-secondary-text-color: green;
}
:host(.fieldInAGroup) {
	top: -11px;
	position: relative;
}
vaadin-form-item {
  --vaadin-form-item-label-width: 5em;
}
/*yolaqr  intentando que cuando el label tiene 2 líneas no crezca hacia abajo y lo centre. No lo logré
[part="label"] {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	color:green;
}*/

